:root {
  --bg: #f9fafc;
  --primary: #1a73e8;
  --text: #333;
  --box: #ffffff;
  --shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  --radius: 12px;
  --code-bg: #f4f4f4;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: var(--text);
  padding: 2rem 9rem;
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--primary);
}

.sub-heading {
  font-size: 1.5rem;
}

p {
  max-width: 900px;
  margin: 0 auto 1.5rem auto;
  font-size: 1.05rem;
  line-height: 1.6;
  text-align: left;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.video-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.video-block {
  background: var(--box);
  padding: 1.5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-block:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

video {
  width: 100%;
  border-radius: 8px;
  outline: 1px solid #ddd;
}

.caption {
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: #555;
}

.code-block {
  max-width: 400px;
  margin: 0 auto;
  background: var(--code-bg);
  text-align: left;
  /* padding: 0 1rem; */
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.94rem;
  box-shadow: 0 4px 16px var(--shadow);
  background: #1e1e1e;
  color: #dcdcdc;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

pre {
  width: max-content;
}

.css-txt {
  margin: 4rem auto 0;
  text-align: center;
}

.code-block .selector {
  color: #569cd6;
}

.code-block .property {
  color: #9cdcfe;
}

.code-block .value {
  color: #ce9178;
}

.code-block .comment {
  color: #6a9955;
  font-style: italic;
}

.code-block code {
  display: block;
  white-space: pre;
  min-width: max-content;
}

.bio {
  max-width: 800px;
  margin: 3rem auto;
  text-align: left;

}

ul {
  margin-top: 1rem;
  line-height: 1.8;
  list-style: none;
}

h2 {
  color: #1a73e8;
}


footer {
  margin-top: 4rem;
  font-size: 0.95rem;
  color: #666;
}

@media (max-width: 768px) {
  body {
    padding: 2rem 1.2rem;
  }

  h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .sub-heading {
    font-size: 1.3rem;
    text-align: center;
  }

  p,
  .bio {
    font-size: 1rem;
    padding: 0 0.5rem;
    text-align: left;
  }

  .video-grid {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .video-block {
    max-width: 100%;
    padding: 1rem;
  }

  .code-block {
    max-width: 100%;
    font-size: 0.95rem;
    padding: 1rem;
  }

  ul {
    padding-left: 1rem;
  }
}